.box{
    width: 100px;
    height: 50px;
    background-color: rgb(181, 255, 20);
    text-align: center;
    line-height: 50px;
    margin: 4px;
    float: left;
}
.box2{
    width: 100px;
    height: 50px;
    background-color: rgb(225, 255, 0);
    text-align: center;
    line-height: 50px;
    margin: 4px;
    float: left;
}
.clear{
    clear: both;
}